@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~antd/dist/antd.css";

body {
  font-family: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
    .dark\:text-white {
        --tw-text-opacity: 1 !important;
        color: rgb(139 139 139) !important;
    }
}
